local opt = vim.opt
local g = vim.g

-- Language providers
g.python3_host_prog = '~/.pyenv/versions/py3nvim/bin/python'
-- Disable these so they don't show up in :checkhealth
g.loaded_perl_provider = 0
g.loaded_ruby_provider = 0

-- Configure fonts
g.guifont = "Sauce_Code_Pro_ExtraLight_Nerd_Font_Complete:h12"

-- Set color scheme. It appears that the name changed in 0.10, so we need to check the version and handle that.
if vim.fn.has('nvim-0.10') == 1 then
  vim.cmd("colorscheme vim")
else
  vim.cmd("colorscheme default")
end

-- Set various options
vim.opt.autochdir = true
vim.opt.autoindent = true
vim.opt.background = 'dark'
vim.opt.backspace = 'indent,eol,start'
vim.opt.completeopt = 'menu'
vim.opt.encoding = 'utf-8'
vim.opt.expandtab = true
vim.opt.formatoptions = 'tcqln'
vim.opt.hlsearch = false
vim.opt.ignorecase = true
vim.opt.laststatus = 2
vim.opt.number = true
vim.opt.sessionoptions:remove('options')
vim.opt.shiftwidth = 2
vim.opt.shortmess = 'filnxtToO'
vim.opt.showcmd = true
vim.opt.showmatch = true
vim.opt.smartcase = true
vim.opt.statusline = '%f(%l:%c)%y%m'
vim.opt.tabstop = 2
vim.opt.timeoutlen = 200
vim.opt.title = true

-- vim:ft=lua
