{{ if eq .chezmoi.os "darwin" -}}
# Setup fzf
# ---------
if [[ ! "$PATH" == */usr/local/opt/fzf/bin* ]]; then
  export PATH="${PATH:+${PATH}:}/usr/local/opt/fzf/bin"
fi

# Auto-completion
# ---------------
[[ $- == *i* ]] && source "/usr/local/opt/fzf/shell/completion.zsh" 2> /dev/null

# Key bindings
# ------------
source "/usr/local/opt/fzf/shell/key-bindings.zsh"

# fzf Config
export FZF_CTRL_T_OPTS="--preview 'ccat | head -500'"
export FZF_CTRL_T_COMMAND="find . -type f -not -path '*.git/*'"

{{ end }}
