[core]
  excludesfile = ~/.gitignore_global

[user]
  name = Scott Peshak
  email = {{ .email }}
  signingkey = {{ .gpgkey }}

[include]
  path = ~/.gitaliases

[push]
  default = simple
  gpgSign = if-asked
  autoSetupRemote = true

[init]
  templateDir = ~/.git-template
  defaultBranch = main

[color]
  diff = auto
  status = auto
  branch = auto
  ui = true

[commit]
  gpgsign = true

[color]
  ui = true

[gpg]
  program = gpg

[gpg "ssh"]
	allowedSignersFile = ~/.config/git/allowed_signers

[log]
  date = iso-strict

[grep]
  lineNumber = true
  extendedRegexp = true
  fallbackToNoIdex = true

[tag]
  forceSignAnnotated = true
  gpgSign = true

[help]
  autocorrect = 1

[pager]
  diff = diff-so-fancy | less --tabs=4 -RFX
  show = diff-so-fancy | less --tabs=4 -RFX
  grep = cat
  branch = cat

[status]
  submoduleSummary = true

[fetch]
  prune = true

[rebase]
  autoSquash = true
  instructionFormat = "%s (%an)"

[git-up "bundler"]
  check = true

[diff "spaceman-diff"]
  command = {{ findExecutable "spaceman-diff" (list "/usr/local/bin/" "/opt/homebrew/bin") }}
  indentHeuristic = on

# diff-so-fancy recommended defaults
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22

[color "diff"]
  meta = 227
  frag = magenta bold
  commit = 227 bold
  old = red bold
  new = green bold
  whitespace = red reverse

[url "git@github.com:"]
  insteadOf = https://github.com/

# Ansible Vault tools
[diff "ansible-vault"]
  textconv = ansible-vault view
  # Do not cache the vault contents
  cachetextconv = false

[merge "ansible-vault"]
  name = ansible-vault merge driver
  driver = ~/bin/ansible-vault-merge -- %O %A %B %P

[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true

# vim: ft=dosini
