#!/bin/sh

{{- if eq .environment "work" }}
if [ -e ~/.mdp-helpers ]; then
  git -C ~/.mdp-helpers pull --rebase --autostash
else
  git clone ssh://git@stash.meredith.com:7999/do/mdp.sh.helpers.git ~/.mdp-helpers
fi
{{- end }}
