#!/bin/bash -e
# shellcheck disable=SC1054,SC1083
{{ if eq .chezmoi.os "darwin" -}}
brew tap 'homebrew/bundle'

brew install \
  awscli \
  bat \
  ccat \
  certigo \
  cfn-flip \
  cfn-lint \
  coreutils \
  cowsay \
  diff-so-fancy \
  flake8 \
  fzf \
  gcal \
  gh \
  git \
  git-flow \
  gnupg \
  gping \
  grc \
  gron \
  hashicorp/tap/terraform-ls \
  htop \
  httpie \
  imagemagick \
  ipcalc \
  jp2a \
  jq \
  libgit2 \
  moreutils \
  mypy \
  nmap \
  node \
  openssl \
  pinentry-mac \
  postgresql \
  pre-commit \
  proselint \
  pyenv-virtualenv \
  python3 \
  ranger \
  rbenv \
  readline \
  ruby-build \
  secretive \
  shellcheck \
  spaceman-diff \
  ssh-copy-id \
  tig \
  tmux \
  trash \
  tree \
  watch \
  wget \
  xz \
  yarn \
  youtube-dl \
  zsh \
  zsh-navigation-tools
# shellcheck disable=SC1009,SC1072,SC1073,SC1056
{{ end -}}


# Install oh-my-zsh
sh -c "$(curl -fsSL https://raw.github.com/robbyrussell/oh-my-zsh/master/tools/install.sh)" "" --unattended || true

# vim:ft=jinja2.sh
