#!/bin/bash -e
# shellcheck disable=SC1054,SC1083
{{ if eq .chezmoi.os "darwin" -}}

# Install fonts on macOS
# This is a little complex to deal with spaces in file names.
find {{ .chezmoi.sourceDir }}/fonts/ -name '*.ttf' -print0  | xargs -0 -I % \
  sudo install \
  -m 0444 \
  -o root \
  -g admin \
  % \
  /Library/Fonts

# shellcheck disable=SC1009,SC1072,SC1073,SC1056
{{ end -}}

# vim:ft=sh.jinja2
