#!/bin/bash -e
# shellcheck disable=SC1054,SC1083
{{ if eq .chezmoi.os "darwin" -}}
brew install \
  awscli \
  bat \
  capacities \
  ccat \
  certigo \
  cfn-flip \
  cfn-lint \
  coreutils \
  cowsay \
  diff-so-fancy \
  flake8 \
  font-sauce-code-pro-nerd-font \
  fzf \
  gh \
  git \
  git-absorb \
  git-flow \
  git-lfs \
  gnupg \
  gping \
  grc \
  gron \
  hadolint \
  hashicorp/tap/terraform-ls \
  htop \
  httpie \
  imagemagick \
  ipcalc \
  jp2a \
  jq \
  k9s \
  libgit2 \
  moreutils \
  mypy \
  nmap \
  node \
  nvim \
  openssl \
  pinentry-mac \
  postgresql \
  pre-commit \
  proselint \
  pwgen \
  pyenv-virtualenv \
  python3 \
  ranger \
  rbenv \
  readline \
  ruby-build \
  secretive \
  shellcheck \
  spaceman-diff \
  ssh-copy-id \
  tfenv \
  tfsort \
  tig \
  tmux \
  trash \
  tree \
  watch \
  wget \
  xz \
  yarn \
  yq \
  zsh \
  zsh-navigation-tools
# shellcheck disable=SC1009,SC1072,SC1073,SC1056

{{ if eq .environment "home" }}
brew install \
  yt-dlp
{{ end -}}


{{ if eq .environment "work" }}
brew install \
  colima \
  jsonnet \
  jsonnet-bundler \
  just \
  kubeconform \
  okta-aws-cli \
  scala \
  tanka
{{ end -}}

{{ end -}}

# vim:ft=jinja2.sh
