#!/bin/sh

{{- if eq .environment "work" }}
if [ -e ~/.mdp-helpers ]; then
  git -C ~/.mdp-helpers pull --rebase --autostash
else
  git clone git@github.com:MeredithCorp/DigOps-Shell-Helpers ~/.mdp-helpers
fi
{{- end }}
