-- Programming specific plugins
return {
  -- Python
  'majutsushi/tagbar',
  'psf/black',

  -- (Java|Type)Script
  'Quramy/tsuquyomi',
  'Quramy/vim-js-pretty-template',
  'leafgarland/typescript-vim',

  -- Dev Ops stuff
  'digitalrounin/vim-yaml-folds',
  {'hashivim/vim-terraform',
    config = function(plugin)
      vim.cmd([[silent! autocmd! filetypedetect BufRead,BufNewFile *.tf]])
      vim.cmd([[autocmd BufRead,BufNewFile *.hcl set filetype=hcl]])
      vim.cmd([[autocmd BufRead,BufNewFile .terraformrc,terraform.rc set filetype=hcl]])
      vim.cmd([[autocmd BufRead,BufNewFile *.tf,*.tfvars set filetype=terraform]])
      vim.cmd([[autocmd BufRead,BufNewFile *.tfstate,*.tfstate.backup set filetype=json]])

      vim.g.terraform_fmt_on_save = 1
      vim.g.terraform_align = 1
    end
  },
  'juliosueiras/vim-terraform-completion',
  'speshak/vim-cfn',
  'hashicorp/sentinel.vim',

  'ynkdir/vim-vimlparser',
  'syngan/vim-vimlint',

  -- Speed up loading/set custom filetypes
  -- See https://github.com/nathom/filetype.nvim#customization for info on
  -- setting custom types
  'nathom/filetype.nvim',

  'ryanoasis/vim-devicons',
  'rhysd/committia.vim',
}

-- vim:ft=lua
