-- Plugins for general editor look & feel, not specific to a programming
-- language
return {
  -- User interface
  {'scrooloose/nerdtree',
    config = function()
      vim.keymap.set({'n', 'v', 'i'}, '<F6>', ':NERDTreeToggle<CR>')
    end
  },
  'ctrlpvim/ctrlp.vim',
  {'vim-airline/vim-airline',
    config = function(plugin)
      vim.g.airline_powerline_fonts = 1
    end
  },
  -- General plugins
  'tpope/vim-fugitive',
  'tpope/vim-surround',
  'cohama/lexima.vim',
  {'ntpeters/vim-better-whitespace',
    config = function()
      vim.keymap.set({'n', 'v', 'i'}, '<F7>', ':StripWhitespace<CR>')
    end
  },
  {'nathanaelkane/vim-indent-guides',
    config = function()
      vim.g.indent_guides_start_level = 2
      vim.cmd([[
        hi IndentGuidesOdd  ctermbg=black
        hi IndentGuidesEven ctermbg=darkgrey
      ]])
    end
  },

  'AndrewRadev/splitjoin.vim',
  'AndrewRadev/switch.vim',
  'ConradIrwin/vim-bracketed-paste',
  'sheerun/vim-polyglot',
  'mbbill/undotree',
  'machakann/vim-highlightedyank',
  'tpope/vim-commentary',
  'tpope/vim-speeddating',
  {"folke/which-key.nvim",
    event = "VeryLazy",
    opts = {
      -- your configuration comes here
      -- or leave it empty to use the default settings
      -- refer to the configuration section below
    },
    keys = {
      {
        "<leader>?",
        function()
          require("which-key").show({ global = false })
        end,
        desc = "Buffer Local Keymaps (which-key)",
      },
    },
  },

  {'dkarter/bullets.vim',
    config = function()
      vim.g.bullets_enabled_file_types = {
        'markdown', 'text', 'gitcommit', 'scratch'
      }
    end
  },

  -- todo-comments.nvim
  {
    'folke/todo-comments.nvim',
    dependencies = 'nvim-lua/plenary.nvim',
    event = { 'BufReadPost', 'BufNewFile' },
    config = true,
    keys = {
      {
        ']t',
        function()
          return require('todo-comments').jump_next()
        end,
        desc = 'Jump to next todo comment',
      },
      {
        '[t',
        function()
          return require('todo-comments').jump_prev()
        end,
        desc = 'Jump to previous todo comment',
      },
    },
  },

  -- nvim-autopairs
  {
    'windwp/nvim-autopairs',
    event = 'InsertEnter',
    opts = {
      disable_filetype = { 'TelescopePrompt', 'text' },
      disable_in_macro = false,
      check_ts = true,
    },
  },
}

-- vim:ft=lua
