alias reload!='. ~/.zshrc'

alias cal="gcal -q US_IA"
alias http="http --verify=no"
alias weather="curl wttr.in"

alias -s rb=vim
alias -s md=vim

alias crontab="VIM_CRONTAB=true crontab"

{{ if eq .chezmoi.os "darwin" }}
alias cat="ccat"
alias cppwd="pwd | pbcopy"
alias md5sum="md5 -r"

clip ()
{
  cat $1 | pbcopy
}

{{ end }}

# Make vim be nvim if it is present
if type "nvim" > /dev/null
then
  alias vim=$(which nvim)
fi

# vim: ft=zsh
